<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div id="login">
        <div id="signup-box" class="col-lg-6 col-sm-8 col-md-8 offset-lg-3 offset-md-2 offset-sm-2">
            <h3 class="main-heading mt-3">Login to WanderLust</h3>
            <form action="/login" method="post" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="username" class="form-label mb-0">Username</label>
                    <input type="text" placeholder="Enter username" name="username" class="form-control" required>
                    <div class="invalid-feedback">Username is required</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label mb-0">Password</label>
                    <input type="password" placeholder="Enter password" name="password" class="form-control" required>
                    <div class="invalid-feedback">Password is required</div>
                </div>
                <button class="btn mb-3 login-btn">Submit</button>
            </form>
        </div>
    </div>
</body>